.buttonDiv {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
        
    .btn {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        margin-left: 1%;
        margin-right: 1%;
        margin-top: 1%;
        margin-bottom: 1%;

    }    
    
    .fa, .far, .fas {
        font-size: 60px;
    }
    
    .handShake {
        width: 150px;
        border-radius: 15px !important;
        border: 2px solid black;
    }
    
    .question {
        width: 150px;
        border-radius: 15px !important;
        border: 2px solid black;
    }
    
    .appts {
        width: 150px;
        border-radius: 15px !important;
        border: 2px solid black;
    }
    
}  