.buttonDiv {
    
    .buttonRow{
        padding-left: 0%;
    }
    
    .fa, .far, .fas {
        font-size: 60px;
    }
    
    .handShake {
        margin-right: 15px;
        width: 200px;
        border-radius: 15px !important;
        border: 2px solid black;
    }
    
    .question {
        margin-right: 15px;
        margin-left: 15px;
        width: 200px;
        border-radius: 15px !important;
        border: 2px solid black;
    }
    
    .appts {
        margin-left: 15px;
        width: 200px;
        border-radius: 15px !important;
        border: 2px solid black;
    }
    
    .buttonRow {
        margin-top: 15px;
        margin-bottom: 15px;
    }
}  