.formContainer {
    background-color: darkBlue;
    padding-left: 20px;
    padding-right: 20px;
    color: white;
    padding-bottom: 10px;
    padding-top: 10px;
    width: 100%;
    max-width: 500px;
    float: right;

        
    h4, h5 {
        text-align: center;
    }
    
    .rowOne {
        padding-top: 15px;
    }
    
    .buttonRow{
        text-align: center;
        margin-bottom: 20px;
    }
    
    .form-group {
        margin-bottom: -10px;
    }
    
    .btn-primary {
        margin-top: 20px;
    }
}