.mapContainerDiv {
    float: right;
    background-color: #0B4479;
    color: white;
    margin-right: -15px;
    width: 30%;
    text-align: center;
    margin-top: 15px;
    
    
    .innerMapDiv {
        width: 29% !important;
        height: 100% !important;
        display: inline-block !important;
        left: 71%;
        bottom: -36px;
    }
    
    .addressDiv {
        text-align: center;
    }
    
    
    .mapDivContent {
        background-color: white;
        color: black;
        float: right;
        width: 30%;
    }
    
}