.testimonialDiv {
        float: right;
        background-color: #0B4479;
        color: white;
        margin-right: -15px;
        width: 30%;
        text-align: center;
        margin-top: 15px;
    
    .testimonialContent {
        background-color: white;
        color: black;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        border-left: 1px solid black;
    }
    
}