.homeDiv {
    
    .imageBox {
        border: 2px solid black;
        width: 75%;
        float: left;
        height: 392px;
        margin-left: -10px;
    }
    
    .formContainer {
        float: right;
        width: 25%;
        background-color: darkBlue;
        padding-left: 20px;
        padding-right: 20px;
        color: white;
        padding-bottom: 10px;
        padding-top: 10px;
    }
    
    .rowOne {
        padding-top: 15px;
    }
}