.homeDiv {
    
    .imageBox {
        border: 2px solid black;
        float: left;
        height: 400px;
        margin-left: -15px;
        width: 70%;
    }
    
    
    .conditionsDiv {
        float: left;
    }
    
    .mapDiv {
        float: right;
        background-color: #0B4479;
        color: white;
        margin-right: -15px;
        width: 30%;
        text-align: center;
    }
    
    .testimonialDiv {
        float: right;
        background-color: #0B4479;
        color: white;
        margin-right: -15px;
        width: 30%;
        text-align: center;
        margin-top: 15px;
    }
    
    .weHeretoHelpDiv {
        float: left;
    }
    
    .conditionsMapRow {
        margin-bottom: 40px;
    }
    
    .testimonialContent {
        background-color: white;
        color: black;
        border-bottom: 1px solid black;
        border-right: 1px solid black;
        border-left: 1px solid black;
    }
    
    
    .conditionsUl {
        column-count: 3;
    }
    
    .row {
        margin-right: 0;
    }
    
}